@font-face {
  font-family: 'Josefin sans';
  src: url('./assets/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin sans italic';
  src: url('./assets/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

.app-container {
  font-family: 'Josefin sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100dvh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsla(0, 10%, 80%, 0.3);
}

.sign-up-form {
  --base-input-hue: 0;
  --base-input-sat: 20%;
  --base-input-lightness: 40%;
  --valid-input: hsla(110, 50%, 50%, 0.8);
  --invalid-input: hsla(0, 50%, 50%, 0.8);

  background: hsla(0, 10%, 80%, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
  width: 80vw;
  border-radius: 2rem;
  box-shadow: 0 0 10px hsla(0, 10%, 30%, 0.9);
  height: 90vh;
}

@media (max-width: 600px) {
 .sign-up-form {
   width: 98%;
 }
}

.sign-up-form .form-input-container {
  --hint-timing-func: ease-in-out;
  --hint-trans-duration: 300ms;

  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input:focus {
  outline: none;
}

.sign-up-form input {
  appearance: none;
  border-radius: 1rem;
  padding: 2rem 2rem 1rem 2rem;
  border: 2px solid hsla(var(--base-input-hue), var(--base-input-sat), var(--base-input-lightness), 0.6);
  box-shadow: inset 0 0px 2px hsla(var(--base-input-hue), var(--base-input-sat), var(--base-input-lightness), 0.6);

  transition: border var(--hint-trans-duration) var(--hint-timing-func),
              box-shadow var(--hint-trans-duration) var(--hint-timing-func);
}

.input-hint,
.input-hint-bg {
  font-size: clamp(16px, calc(1.5rem + 0.3vw), 24px);
  position: absolute;
  width: 200px;
  height: 26px;
  top: 2rem;
  left: 2.1rem;
  padding: 0rem 1rem;
  border-radius: 9999px;
}

.input-hint {
  z-index: 2;
  background: white;
  transition: color var(--hint-trans-duration) var(--hint-timing-func),
              top var(--hint-trans-duration) var(--hint-timing-func),
              left var(--hint-trans-duration) var(--hint-timing-func);
}

.input-hint-bg {
  z-index: 1;
  background-image: linear-gradient(0deg, white 50%, hsla(0, var(--base-input-sat), var(--base-input-lightness), 0.7) 50%);
  box-shadow: inset 0 0 4px white;
  opacity: 0;
 
  transition: background-image var(--hint-trans-duration) var(--hint-timing-func),
              opacity var(--hint-trans-duration) 100ms var(--hint-timing-func),
              top var(--hint-trans-duration) var(--hint-timing-func),
              left var(--hint-trans-duration) var(--hint-timing-func);
}

.form-input-container:focus-within .input-hint,
.form-input-container:hover .input-hint {
  color: hsla(0, 0%, 0%, 0.5);
  top: -0.9rem;
  left: 2.1rem;
}

input:not(:placeholder-shown):valid ~ .input-hint {
  color: var(--valid-input); 
  top: -0.9rem;
  left: 2.1rem;
}

input:not(:placeholder-shown):invalid ~ .input-hint {
  color: var(--invalid-input);
  top: -0.9rem;
  left: 2.1rem;
}

input:not(:placeholder-shown) ~ .input-hint-bg,
.form-input-container:focus-within .input-hint-bg,
.form-input-container:hover .input-hint-bg {
  opacity: 1;
  width: 204px;
  top: -1.1rem;
  left: 1.93rem;
}

.error {
  font-size: clamp(16px, calc(1.5rem + 0.3vw), 24px);
  position: absolute;
  cursor: pointer;
  opacity: 0;
  max-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  top: -1.1rem;
  z-index: 10;
  
  transition: opacity var(--hint-trans-duration) ease-in
              max-height var(--hint-trans-duration) 200ms ease-in;

}

.error.active {
  background: hsla(0, var(--base-input-sat), 90%, 1);
  border: 2px solid var(--invalid-input);
  padding: 0rem 1rem;
  opacity: 1;
  border-radius: 1rem;
  text-align: center;
  line-break: loose;
  max-height: 80px;
  max-width: 100%;
}

.submit-btn {
  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
  border: 2px solid hsla(0, 10%, 30%, 0.9);
  box-shadow: 0 2px 3px hsla(0, 10%, 30%, 0.9);
}
